In [1]:
# Importing the libraries that we might need
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
# Loading the dataset
data = pd.read_csv('survey_no_email.csv')

In [3]:
# Having a look at the dataset
data.head()

,Timestamp,Were you able to access HMS on day of allocation?,Did you select the single room out of your own volition?,"What's the reason you do not like the 4th/5th cluster?\n(you can choose multiple answers!) (if you chose the cluster willingly, add the reason in others)",What would you want from admin side?,If there is anything else let us know!
0,2023/07/12 1:43:55 PM GMT+5:30,Yes,"No, I didn’t have any other choice.",The distance from the academic blocks/isolated...,Reduction in single room fees;Ability to switc...,NaN
1,2023/07/12 1:44:12 PM GMT+5:30,No,"No, I didn’t have any other choice.",The distance from the academic blocks/isolated...,Reduction in single room fees;Ability to switc...,NaN
2,2023/07/12 1:44:17 PM GMT+5:30,No,"No, I didn’t have any other choice.",The distance from the academic blocks/isolated...,Reduction in single room fees,NaN
3,2023/07/12 1:44:43 PM GMT+5:30,No,"No, I didn’t have any other choice.",The distance from the academic blocks/isolated...,Reduction in single room fees,-
4,2023/07/12 1:45:04 PM GMT+5:30,No,"No, I didn’t have any other choice.",Unreasonably high fees;Non functioning AC/Low ...,Reduction in single room fees;Ability to switc...,NaN

In [4]:
# Checking the shape of the dataset
data.shape

(208, 6)

In [5]:
# There are 7 column and we got 208 responses from the students

In [6]:
# Checking names of all columns in the train data
data.columns

Index(['Timestamp', 'Were you able to access HMS on day of allocation?',
       'Did you select the single room out of your own volition?',
       'What's the reason you do not like the 4th/5th cluster?\n(you can choose multiple answers!) (if you chose the cluster willingly, add the reason in others)',
       'What would you want from admin side?',
       'If there is anything else let us know!'],
      dtype='object')

In [7]:
# These are the questions that we asked in the survey with the addition of Timestamp which I will drop later and the Ussername which is the email of those who filled the form

In [8]:
# Getting basic information about the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 6 columns):
 #   Column                                                                                                                                                    Non-Null Count  Dtype
---  ------                                                                                                                                                    --------------  -----
 0   Timestamp                                                                                                                                                 208 non-null    object
 1   Were you able to access HMS on day of allocation?                                                                                                         208 non-null    object
 2   Did you select the single room out of your own volition?                                                                                                  208 non-null    object
 3   What's the reason you do not like the 4th/5th cluster?
(you can choose multiple answers!) (if you chose the cluster willingly, add the reason in others)  207 non-null    object
 4   What would you want from admin side?                                                                                                                      208 non-null    object
 5   If there is anything else let us know!                                                                                                                    38 non-null     object
dtypes: object(6)
memory usage: 9.9+ KB

In [9]:
# We observe that all our values are of object datatype

In [10]:
# Checking for null values in the dataset
data.isnull().sum().sort_values(ascending = False)

If there is anything else let us know!                                                                                                                       170
What's the reason you do not like the 4th/5th cluster?\n(you can choose multiple answers!) (if you chose the cluster willingly, add the reason in others)      1
Timestamp                                                                                                                                                      0
Were you able to access HMS on day of allocation?                                                                                                              0
Did you select the single room out of your own volition?                                                                                                       0
What would you want from admin side?                                                                                                                           0
dtype: int64

In [11]:
# We can observe that there are null values in the Reason of not liking the 4th/5th cluster and majority null values in the last question where we asked for anything else the students might want to add on

In [12]:
# Dropping the timestamp column since it is not needed
data = data.drop('Timestamp', axis=1)

In [13]:
# Having a look at the updated dataset
data.head()

,Were you able to access HMS on day of allocation?,Did you select the single room out of your own volition?,"What's the reason you do not like the 4th/5th cluster?\n(you can choose multiple answers!) (if you chose the cluster willingly, add the reason in others)",What would you want from admin side?,If there is anything else let us know!
0,Yes,"No, I didn’t have any other choice.",The distance from the academic blocks/isolated...,Reduction in single room fees;Ability to switc...,NaN
1,No,"No, I didn’t have any other choice.",The distance from the academic blocks/isolated...,Reduction in single room fees;Ability to switc...,NaN
2,No,"No, I didn’t have any other choice.",The distance from the academic blocks/isolated...,Reduction in single room fees,NaN
3,No,"No, I didn’t have any other choice.",The distance from the academic blocks/isolated...,Reduction in single room fees,-
4,No,"No, I didn’t have any other choice.",Unreasonably high fees;Non functioning AC/Low ...,Reduction in single room fees;Ability to switc...,NaN

In [14]:
# We can see that the Timestamp column has been dropped

In [15]:
# Dropping the row with null value in What's the reason you do not like the 4th/5th cluster?\n(you can choose multiple answers!) (if you chose the cluster willingly, add the reason in others)
data = data.dropna(subset=['What\'s the reason you do not like the 4th/5th cluster?\n(you can choose multiple answers!) (if you chose the cluster willingly, add the reason in others)'])

In [16]:
# Checking the shape of the dataset
data.shape

(207, 5)

In [17]:
# We can see that the one row with null value has been dropped

In [18]:
# Converting categorical data to numerical data
data['Were you able to access HMS on day of allocation?'] = data['Were you able to access HMS on day of allocation?'].map({'No':0, 'Yes':1})

In [19]:
# Looking at our updated dataset
data.head()

,Were you able to access HMS on day of allocation?,Did you select the single room out of your own volition?,"What's the reason you do not like the 4th/5th cluster?\n(you can choose multiple answers!) (if you chose the cluster willingly, add the reason in others)",What would you want from admin side?,If there is anything else let us know!
0,1,"No, I didn’t have any other choice.",The distance from the academic blocks/isolated...,Reduction in single room fees;Ability to switc...,NaN
1,0,"No, I didn’t have any other choice.",The distance from the academic blocks/isolated...,Reduction in single room fees;Ability to switc...,NaN
2,0,"No, I didn’t have any other choice.",The distance from the academic blocks/isolated...,Reduction in single room fees,NaN
3,0,"No, I didn’t have any other choice.",The distance from the academic blocks/isolated...,Reduction in single room fees,-
4,0,"No, I didn’t have any other choice.",Unreasonably high fees;Non functioning AC/Low ...,Reduction in single room fees;Ability to switc...,NaN